In [41]:
%%writefile 1_1.txt
"Hey, my name is Shubham, I am a Data Scientist working for Pfizer. I am proficient in Advanced Python, Advanced R, Advanced EXCEL and Advanced SQL. I am also an expert in Machine Learning Algorithms, Natural Language Processing, Deep Learning, and Big Data. I am also proficient in Amazon AWS and data Visualisation Techniques like Power BI and Tableau. I am an asset to my organisation. I am also an expert in modelling complex optimization problems with Gurobi Optimizers and have a strong hold in the Operations Reserach Domain."

Overwriting 1_1.txt

In [42]:
%%writefile 1_2.txt
"Hey, my name is Shubham Mishra, I am a Data Scientist and Demand Planner; working for Global Supply Chain at Pfizer. I am proficient in Advanced Python, Advanced R, Advanced EXCEL and Advanced SQL. I am also an expert in Machine Learning Algorithms, Natural Language Processing, Deep Learning, and Big Data. I am also proficient in Amazon AWS and data Visualisation Techniques like Power BI and Tableau. I am an asset to my organisation. I am also an expert in modelling complex optimization problems with Gurobi Optimizers and have a strong hold in the Operations Reserach Domain."

Overwriting 1_2.txt

In [43]:
dict_= {}

In [44]:
with open('1_1.txt', 'r+') as f:
    i=1
    word= f.read().lower().split()
    for w in word:
        if w not in dict_:
            dict_[w]= i
            i += 1

In [45]:
dict_

{'"hey,': 1,
 'my': 2,
 'name': 3,
 'is': 4,
 'shubham,': 5,
 'i': 6,
 'am': 7,
 'a': 8,
 'data': 9,
 'scientist': 10,
 'working': 11,
 'for': 12,
 'pfizer.': 13,
 'proficient': 14,
 'in': 15,
 'advanced': 16,
 'python,': 17,
 'r,': 18,
 'excel': 19,
 'and': 20,
 'sql.': 21,
 'also': 22,
 'an': 23,
 'expert': 24,
 'machine': 25,
 'learning': 26,
 'algorithms,': 27,
 'natural': 28,
 'language': 29,
 'processing,': 30,
 'deep': 31,
 'learning,': 32,
 'big': 33,
 'data.': 34,
 'amazon': 35,
 'aws': 36,
 'visualisation': 37,
 'techniques': 38,
 'like': 39,
 'power': 40,
 'bi': 41,
 'tableau.': 42,
 'asset': 43,
 'to': 44,
 'organisation.': 45,
 'modelling': 46,
 'complex': 47,
 'optimization': 48,
 'problems': 49,
 'with': 50,
 'gurobi': 51,
 'optimizers': 52,
 'have': 53,
 'strong': 54,
 'hold': 55,
 'the': 56,
 'operations': 57,
 'reserach': 58,
 'domain."': 59}

In [46]:
i

60

In [47]:
with open('1_2.txt', 'r+') as f:
    
    word= f.read().lower().split()
    for w in word:
        if w not in dict_:
            dict_[w]= i
            i += 1

In [48]:
dict_

{'"hey,': 1,
 'my': 2,
 'name': 3,
 'is': 4,
 'shubham,': 5,
 'i': 6,
 'am': 7,
 'a': 8,
 'data': 9,
 'scientist': 10,
 'working': 11,
 'for': 12,
 'pfizer.': 13,
 'proficient': 14,
 'in': 15,
 'advanced': 16,
 'python,': 17,
 'r,': 18,
 'excel': 19,
 'and': 20,
 'sql.': 21,
 'also': 22,
 'an': 23,
 'expert': 24,
 'machine': 25,
 'learning': 26,
 'algorithms,': 27,
 'natural': 28,
 'language': 29,
 'processing,': 30,
 'deep': 31,
 'learning,': 32,
 'big': 33,
 'data.': 34,
 'amazon': 35,
 'aws': 36,
 'visualisation': 37,
 'techniques': 38,
 'like': 39,
 'power': 40,
 'bi': 41,
 'tableau.': 42,
 'asset': 43,
 'to': 44,
 'organisation.': 45,
 'modelling': 46,
 'complex': 47,
 'optimization': 48,
 'problems': 49,
 'with': 50,
 'gurobi': 51,
 'optimizers': 52,
 'have': 53,
 'strong': 54,
 'hold': 55,
 'the': 56,
 'operations': 57,
 'reserach': 58,
 'domain."': 59,
 'shubham': 60,
 'mishra,': 61,
 'demand': 62,
 'planner;': 63,
 'global': 64,
 'supply': 65,
 'chain': 66,
 'at': 67}

In [49]:
one= ['1_1.txt'] + [0]*len(dict_)

In [50]:
with open('1_1.txt', 'r+') as f:
    
    word= f.read().lower().split()
    for w in word:
        if w in dict_:
            one[dict_[w]] += 1

In [51]:
one

['1_1.txt',
 1,
 2,
 1,
 1,
 1,
 6,
 6,
 2,
 2,
 1,
 1,
 1,
 1,
 2,
 5,
 4,
 1,
 1,
 1,
 5,
 1,
 3,
 3,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [52]:
two= ['1_2.txt'] + [0]*len(dict_)

In [53]:
with open('1_2.txt', 'r+') as f:
    
    word= f.read().lower().split()
    for w in word:
        if w in dict_:
            two[dict_[w]] += 1

In [54]:
one

['1_1.txt',
 1,
 2,
 1,
 1,
 1,
 6,
 6,
 2,
 2,
 1,
 1,
 1,
 1,
 2,
 5,
 4,
 1,
 1,
 1,
 5,
 1,
 3,
 3,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [55]:
two

['1_2.txt',
 1,
 2,
 1,
 1,
 0,
 6,
 6,
 2,
 2,
 1,
 1,
 1,
 1,
 2,
 5,
 4,
 1,
 1,
 1,
 6,
 1,
 3,
 3,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1]

In [56]:
import sklearn

<frozen importlib._bootstrap>:219: RuntimeWarning: scipy._lib.messagestream.MessageStream size changed, may indicate binary incompatibility. Expected 56 from C header, got 64 from PyObject

In [57]:
import pandas as pd

In [58]:
file= pd.read_csv(r"C:\Users\Asus\Music\SpamHam.tsv")

In [59]:
from sklearn.model_selection import train_test_split as tts

In [60]:
file.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [62]:
file.drop(file.columns[2:], axis= 1, inplace=True)

In [63]:
file.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [85]:
X= file['v1']

In [86]:
y= file['v2']

In [87]:
X_train, X_test, y_train, y_test= tts(X,y, test_size=0.3,)

In [88]:
from sklearn.feature_extraction.text import CountVectorizer

In [89]:
cv= CountVectorizer()

In [90]:
cv.fit_transform(X_train)

<3900x2 sparse matrix of type '<class 'numpy.int64'>'
	with 3900 stored elements in Compressed Sparse Row format>

In [73]:
vect_x_train=cv.fit_transform(X_train)

In [78]:
vect_x_train[2].shape

(1, 2)

In [79]:
from sklearn.feature_extraction.text import TfidfTransformer

In [80]:
tf= TfidfTransformer()

In [82]:
x_train_tf_idf=tf.fit_transform(vect_x_train)

In [83]:
x_train_tf_idf.shape

(3900, 2)

In [91]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [92]:
tv= TfidfVectorizer()

In [93]:
tv.fit_transform(X_train)

<3900x2 sparse matrix of type '<class 'numpy.float64'>'
	with 3900 stored elements in Compressed Sparse Row format>